.idea
outputs/
1M_v001_plots/
data/
# data_*/
tests/
tile_polygons/
data_1000/
tile_info_*
tiles_*
tile_info/
__pycache__/
config/__pycache__/
ee_utils/__pycache__/
utils/__pycache__/
.DS_Store
ee_utils/.DS_Store
config/.DS_Store
